@if(count($result['spbt'])==0)
<p class="">Mục này không có hoặc chưa cập nhật dữ liệu</p>
@else
<table class="table table-hover">
  <thead>
    <tr>
      <th>{{$result['group_parent']->name}}</th>
      @foreach($result['spbt'] as $value)
      <th scope="col"><label>{{$value['product_longevity_name']}}</label>
        <select name="select" id="spbt">
            <option value="" class="">fdsfds</option>
            <option value="{{$value['product_more_name']}}" selected>{{$value['product_more_name']}}</option>
        </select>
      </th>
      @endforeach
    </tr>
  </thead>  
  <tbody>
  @foreach($result['group_child'] as $child)
    <tr>
      <td scope="row">{{$child['group_child']}}</td>
      <!-- <td colspan="4"></td>
      <td colspan="4"></td>
      <td colspan="4"></td>
      <td colspan="4"></td> -->
    </tr>
    @endforeach
  </tbody>
</table>
@endif
<script >
 $( document ).ready(function() {
    $('#spbt').on('change', function() {
      var value = $(this).val();
      var result = <?php echo $result['spbt']?>;
      console.log(result);


    });
});
</script>