.blog-container{
    margin: 5% 0;
    .blog-ctn{
        .title{
            text-align: center;
            margin-bottom: 4%;
            h4{
                text-transform: uppercase;
                font-family: UTM_Helve;
                color: $main-color;
                color: $main-color;
            }
        }
        .blog-content{
            p{
                font-family: UTM_Helve;
                line-height: 26px;
                color: #58595b;
            }
            .image-ctn{
                text-align: center;
                img{
                    margin-bottom: 40px;
                }
            }
        }
    }
}
// ======================treatment page=======================
.treatment-ctn {
   
    .active {
        color: $main-color;
    }
    
}
.treatment-container {
    margin: 5% 0;
    .title{
        font-size: 1.75rem;
        color: $main-color;
        font-family: UTM_HelveBold;
        text-transform: uppercase;
    }
}
.section-treatment-slide {
    padding-top: 5%;
    // border-top: 2px solid $main-color;
    .section-wrapper {
        margin: auto;
        width: 100%;
        margin-bottom: 5%;
        .title-ctn {
            margin: 3% 0;
            text-align: center;
            h4 {
                font-size: 1.75rem;
                color: $main-color;
                font-family: UTM_HelveBold;
            }
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .item{
                cursor: pointer;
                padding: 0 25px;
                h4{
                    font-family: UTM_Helve;
                    text-transform: uppercase;
                    font-size: 30px;
                    line-height: 40px;
                    color: $main-color;
                }
                img{
                    width: 100%;
                }
                &:hover{
                    .title{
                        color: $main-color;
                        font-family: UTM_HelveBold;
                    }
                    img{
                        // transform-style: preserve-3d;
                    }
                    p{
                        color: $main-color;
                        font-family: UTM_HelveBold;
                    }
                }
            }
            a{
                text-decoration: none;
            }
            // &:nth-child(4n+1){
            //     border-left: 1px solid #000;
            //     border-right: 1px solid  #000;
            // }
        }
        .swiper-slide-next{
            -webkit-box-shadow: -4px 3px 50px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: -4px 3px 50px 0px rgba(0,0,0,0.5);
            box-shadow: -4px 3px 50px 0px rgba(0,0,0,0.5);
            cursor: pointer;
            .title{
                font-family: UTM_HelveBold !important;
                color: $main-color !important;
             
            }
            img{
                // transform-style: preserve-3d;
            }
            p{
                color: $main-color;
                font-family: UTM_HelveBold;
            }
            // border-left: 1px solid #000;
            //     border-right: 1px solid  #000;
        }
        .swiper-button-prev {
            transform: translate(-46%, 10px);
            top: 20%;
            bottom: 0;
            margin: auto;
            background-image: url('../images/home/arrow-left-active.png') !important;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .swiper-button-next {
            background-image: url('../images/home/arrow-right-active.png') !important;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(48%, 10px);
            top: 20%;
            bottom: 0;
            margin: auto;
        }
        .ava-ctn {
            margin-right: 5%;
            img {
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
       .treatment-item{
           .title{
                font-family: UTM_Helve;
                text-transform: uppercase;
                font-size: 30px;
                line-height: 40px;
                color: #58595b;
                margin: 10% 0;
           }
           .description{
            font-family: UTM_Helve;
            font-size: 18px;
            line-height: 40px;
            color: #58595b;
            margin: 10% 0;
           }
           &:nth-child(2n){
            border-left: 1px solid #000;
            border-right: 1px solid  #000;
        }
       }
       .uudai-slide{
           padding: 5% 0;
       }
    }
}