.compare-section {
    background-color: #191919;
    height: 50px;
    position: relative;
    @media (max-width: 991px) {
        height: 130px;
    }
    .compare-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .dropdown {
            position: relative;
            font-size: 16px;
            font-family: UTM_Helve;
            width: 100%;
            color: #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            z-index: 3;
            height: 35px;
            transform: translateY(10px);
            @media (max-width: 991px) {
                height: 60px;
            }
            .dropdown-list {
                padding: 12px;
                // width: fit-content;
                background-color: rgba(0, 0, 0, 0.8);
                position: absolute;
                top: 40px;
                left: 0px;
                right: 0px;
                box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
                transform-origin: 50% 0;
                transform: scale(1, 0);
                transition: transform .15s ease-in-out .15s;
                max-height: 46vh;
                overflow-y: scroll;
                @media (max-width: 991px) {
                    top: 60px;
                }
            }
            .dropdown-list::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #ccc;
            }
            .dropdown-list::-webkit-scrollbar {
                width: 5px;
                background-color: #ccc;
            }
            .dropdown-list::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #0d723b;
            }
            .dropdown-option {
                display: block;
                padding: 8px 12px;
                opacity: 0;
                transition: opacity .15s ease-in-out;
                line-height: 22px;
            }
            .dropdown-label {
                display: block;
                height: 42px;
                background-color: #191919;
                //   border: 1px solid #ccc;
                padding: 15px 10px;
                line-height: 1;
                cursor: pointer;
                transform: translate(0px, -9px);
                @media (max-width: 991px) {
                    height: 65px;
                }
                &:before {
                    content: '▼';
                    float: right;
                }
            }
            &.on {
                .dropdown-list {
                    transform: scale(1, 1);
                    transition-delay: 0s;
                    .dropdown-option {
                        opacity: 1;
                        transition-delay: .2s;
                    }
                }
                .dropdown-label:before {
                    content: '▲';
                }
            }
            [type="checkbox"] {
                position: relative;
                top: -1px;
                margin-right: 4px;
            }
            &:nth-of-type(1) {
                border-left: none;
                @media (max-width: 991px) {
                    border-left: 1px solid #fff;
                }
            }
            &:nth-last-child(1) {
                // border-right: none;
            }
        }
    }
    .data-compare {
        table {
            tr.hide-table-padding {
                padding: 0;
            }
        }
        .expand-button {
            position: relative;
        }
        .accordion-toggle .expand-button:after {
            position: absolute;
            left: .75rem;
            top: 50%;
            transform: translate(0, -50%);
            content: '-';
        }
        .accordion-toggle.collapsed .expand-button:after {
            content: '+';
        }
    }
}
.search-ctn {
    background-color: #333333;
    height: 30px;
    position: relative;
    color: #fff;
    text-align: center;
    .search-section {
        button {
            width: 100%;
            background-color: $main-color;
            // border: none;
            outline: none;
            color: #fff;
            margin-top: 3px;
        }
    }
}

.brand-section {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, .05);
    .section-wrapper {
        position: relative;
        max-width: 1170px;
        height: 100px; // hide the scroll bar
        margin: auto;
        // border: 1px solid black;
        overflow-x: hidden;
        overflow-y: hidden;
        .section-list {
            height: 140px; // hide the scroll bar
            // background: #f3f3f3;
            box-sizing: border-box;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            .item {
                display: inline-block;
                text-align: center;
                width: 200px;
                height: 100%;
                // outline: 1px dotted gray;
                padding: 1em;
                box-sizing: border-box;
                input[type=checkbox] {
                    display: none;
                }
                input[type=checkbox]:checked+.toggle:after {
                    opacity: 1;
                }
                .brand-thumb {
                    img {
                        //width: 60%;
                        height: 35px;
                    }
                    img.ui-draggable {
                        z-index: 100000;
                    }
                }
                .toggle {
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: block;
                    height: 35px;
                    width: 35px;
                    position: relative;
                    // top: 0px;
                    bottom: 0px;
                    // left: 0px;
                    text-indent: 100%;
                    overflow: visible;
                    cursor: pointer;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 12px;
                        left: 12px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $main-color;
                        opacity: 0;
                    }
                    &::before {
                        content: '';
                        width: 18px;
                        height: 18px;
                        background: rgba(0, 0, 0, 0);
                        border: 1px solid #ccc;
                        border-radius: 20px;
                        position: absolute;
                        top: 9px;
                        left: 9px;
                        -webkit-box-shadow: 0 1px 1px #dfecf4;
                        -moz-box-shadow: 0 1px 1px #dfecf4;
                        box-shadow: 0 1px 1px #dfecf4;
                    }
                }
            }
        }
    }
    .paddle {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3em;
    }
    .paddles {
        position: relative;
        button {
            border: none;
            background: transparent;
        }
    }
    .left-paddle {
        left: 15%;
        transform: translate(30%, -85%);
        top: -30px;
        bottom: -60px;
        @media (max-width: 1440px) {
            left: 2%;
        }
    }
    .right-paddle {
        right: 15%;
        transform: translate(30%, -85%);
        top: -30px;
        bottom: -60px;
        @media (max-width: 1440px) {
            right: 7%;
        }
    }
    .hidden {
        display: none;
    }
}

.fixed-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 4;
}

// table
// Table
.table-section {
    margin-bottom: 5%;
    margin-top: 18px;
    .table-ctn {}
    table {
        // table-layout: fixed;
        table-layout: auto;
        // width: 1170px;
        border-spacing: 2%;
    }
    #layout-area {
        .add-del-ctn {
            float: right;
            right: 0;
            display: flex;
            z-index: 35;
            input {
                background-color: green;
                padding: 5px 10px;
            }
        }
        .table {
            width: 100%;
            position: relative;
            td {
                border: 1px solid #ccc;
            }
            .green1 {
                background-color: $main-color;
                color: #fff;
                height: 40px;
                font-family: UTM_Helve;
                text-transform: uppercase;
                td.green_header {
                    background: $main-color url(../images/default/bg-green.png) no-repeat !important;
                    background-size: contain;
                    background-position:center;
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    color: white !important;
                    padding: 8px 15px;
                }
            }
            td.green_header{
                // background-color: white;
                color: #000;
            }
            .green {
                background-color: $main-color;
                color: #fff;
                font-family: UTM_Helve;
                text-transform: uppercase;
            }
            thead {
                .top-head {
                    position: sticky;
                    top: 0;
                    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
                    // border-top: 1px solid #000;
                    height: 100px;
                    th {
                        border-top: 2px solid $main-color;
                        border-bottom: 1px solid $main-color;
                        border-right: 1px solid $main-color;
                        z-index: 7;
                    }
                    th:last-child {
                        // border-right: 0px;
                    }
                    th.th-1 {
                        background: #f5f5f5 url(../images/car/thead.png);
                        background-size: contain;
                        background-position: right;
                        background-repeat: no-repeat;
                        border-bottom: 2px solid $main-color;
                        // position: relative;
                        .left-ctn {
                            transform: translate(0px, -37px);
                            text-align: left;
                            display: inherit;
                            .item {
                                // margin-bottom: 15px;
                                display: block;
                                a {
                                    color: #fff;
                                    font-family: UTM_Helve;
                                    text-decoration: none;
                                    padding-left: 15px;
                                }
                            }
                            .phone {
                                background-image: url('../images/home/cta-phone.png');
                                background-repeat: no-repeat;
                                padding: 12px 30px;
                                background-position: top center;
                                // background-size: cover;
                                height: 50px;
                                width: 185px;
                                display: inline-flex;
                                a {
                                    padding-left: 18px;
                                }
                            }
                        }
                        h4 {
                            position: absolute;
                            transform: translate(-25%, 50%);
                            top: 61%;
                            left: 30%;
                            color: $main-color;
                            font-family: UTM_HelveBold_Italic;
                        }
                    }
                }
            }
            tbody {
                .sub-head {
                    td {
                        border-bottom: 1px solid $main-color;
                        border-right: 1px solid $main-color;
                    }
                    td:first-child {
                        // border-left: 0px;
                    }
                    td:last-child {
                        // border-right: 0px;
                    }
                    td.th-2 {
                        .star-ctn {
                            display: flex;
                            justify-content: space-around;
                            flex-direction: row;
                        }
                        .item {
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .star-ctn {
                        .item {
                            p {
                                span {
                                    bottom: 2px;
                                    position: relative;
                                    right: 0px;
                                }
                            }
                        }
                    }
                    .count-rank-ctn {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        .mark-num {
                            p {
                                span.first-span {
                                    color: #f36f21;
                                }
                            }
                        }
                        .service {}
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
                // tr.bg-head-1 {
                //     td{
                //         background-image: url('../images/car/bg1.png') !important;
                //         background-repeat: no-repeat;
                //         color: white !important;
                //         background-size: 100% 100%;
                //     }
                // }
                // tr.bg-head-2 {
                //     td{
                //         background-image: url('../images/car/bg2.png') !important;
                //         background-repeat: no-repeat;
                //         color: white !important;
                //         background-size: 100% 100%;
                //     }
                // }
                // tr.bg-head-3 {
                //     td{
                //         background-image: url('../images/car/bg3.png') !important;
                //         background-repeat: no-repeat;
                //         color: white !important;
                //         background-size: 100% 100%;
                //     }
                // }
                // tr.bg-head-4 {
                //     td{
                //         background-image: url('../images/car/bg4.png') !important;
                //         background-repeat: no-repeat;
                //         color: white !important;
                //         background-size: 100% 100%;
                //     }
                // }
                tr.header {
                    height: 40px;
                    position: relative;
                    font-weight: bold;
                    border-top: 1px solid #ccc;
                    // color: #fff;
                    // background-color: $main-color;
                    // color: #000;
                    font-family: UTM_Helve;
                    font-size: 14px;
                    background-color: #f2f2f3;
                    text-transform: uppercase;
                    cursor: pointer;
                    -webkit-user-select: none;
                    /* Chrome all / Safari all */
                    -moz-user-select: none;
                    /* Firefox all */
                    -ms-user-select: none;
                    /* IE 10+ */
                    user-select: none;
                    /* Likely future */
                    .choose-all {
                        position: absolute;
                    }
                    // &:nth-child(2n-1) {
                    //     background: $main-color;
                    //     color: #fff;
                    //     // border-right: 0px solid #ccc;
                    // }
                    &:nth-child(2n-1) {
                        // background: $main-color;
                    }
                    &:hover {
                        // background: #ddd;
                    }
                    td:nth-child(1) {
                        // width: 40%;
                        // border-right: 1px solid #ccc;
                    }
                    td {
                        position: relative;
                        padding: 8px 15px;
                        &:after {
                            position: absolute;
                            top: 50%;
                            right: 5px;
                            width: 9px;
                            height: 16px;
                            margin-top: -8px;
                            font: 16px fontawesome;
                            color: #bcbec0;
                            content: "\f0d8";
                            transition: all .3s ease;
                        }
                    }
                    &.colapse-head {
                        background: $main-color;
                        color: white;
                        td {
                            &:after {
                                transform: rotate(-180deg);
                                color: #000;
                            }
                        }
                    }
                }
            }
            tr.tool-ctn {
                width: 100%;
                .select-ctn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    .selection-box {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        border: 1px solid $main-color;
                        padding: 5px 22px;
                        border-radius: 20px;
                        background-color: #f1f2f2;
                        // color: #bdbebf;
                        font-family: UTM_Helve;
                    }
                    .button-filter {
                        width: 26%;
                        border: none;
                    }
                    .item {
                        // width: 100%;
                        select {
                            font-size: 14px;
                            width: 100%;
                            border-bottom: none;
                            border-left: none;
                            border-top: none;
                            outline: none;
                            border-right: 1px solid #58595b;
                            background-color: #f1f2f2;
                            color: #58595b;
                            
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                    span {
                        margin-left: 20px;
                        color: #58595b;
                    }
                    input {
                        width: 60%;
                        border-bottom: 1px solid #ccc;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        outline: none;
                        background-color: #f1f2f2;
                    }
                    button {
                        background-color: $main-color;
                        font-family: UTM_Helve;
                        color: #fff;
                        text-transform: uppercase;
                        padding: 5px 15px;
                        outline: none;
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
                        float: right;
                        width: 45%;
                    }
                }
            }
            tr.data-detail {
                 td:first-child {
                    width: 50%;
                }
                td {
                    border-right: 1px solid #ccc;
                    text-align: center;
                    p {
                        // overflow: hidden;
                        // white-space: nowrap;
                        // width: 135px;
                    }
                    span {
                        a {
                            color: orange;
                            left: 46%;
                            right: 0;
                            position: relative;
                            margin: auto;
                            text-decoration: none;
                        }
                    }
                    // white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .tick-td {
                        text-align: center;
                        margin: 14px 0;
                        height: auto;
                    }
                    .star-td {
                        width: 20px;
                        right: 0;
                        float: right;
                        margin-top: 10px;
                    }
                    .mega-drop-down a:hover {
                        display: block;
                    }
                    input[type=checkbox] {
                        display: none;
                    }
                    .selectedId,
                    .selectedId2 {
                        opacity: 0;
                        filter: alpha(opacity=0);
                    }
                    .selectedId+label,
                    .selectedId2+label {
                        position: relative;
                        margin-left: 35px;
                        display: inherit;
                    }
                    .selectedId+label:before,
                    .selectedId2+label:before,
                    .lt-ie8 .checkbox-replacement {
                        content: '';
                        display: inline-flex;
                        visibility: visible;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        margin: 0 5px;
                        line-height: 1;
                        text-align: center;
                        /* Put checkbox styles here: */
                        border: 1px solid #ccc;
                        border-radius: 100%;
                    }
                    .selectedId:checked+label:before,
                    .selectedId2:checked+label:before,
                    .lt-ie9 .selectedId.checked+label:before,
                    .selectedId2.checked+label:before {
                        content: '';
                        position: relative;
                        top: 0px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: $main-color;
                        opacity: 1;
                    }
                    .selectedId:checked+label::after,
                    .selectedId2:checked+label::after {
                        content: '';
                        width: 18px;
                        height: 18px;
                        background: rgba(0, 0, 0, 0);
                        border: 1px solid #ccc;
                        border-radius: 20px;
                        position: absolute;
                        top: 3px;
                        left: -2px;
                        margin: 0 5px;
                        -webkit-box-shadow: 0 1px 1px #dfecf4;
                        -moz-box-shadow: 0 1px 1px #dfecf4;
                        box-shadow: 0 1px 1px #dfecf4;
                    }
                    label.drop {
                        position: absolute;
                        left: 8px;
                        margin-top: 0px;
                        width: 64px;
                        font-size: 13px;
                        top: 40px;
                        color: $main-color;
                    }
                    span.first-td {
                        position: relative;
                        display: inline-block;
                        transform: translate(0px, -27px);
                        width: 90%;
                        @media(max-width: 1024px){
                            transform: translate(0px, -27px);
                            -webkit-transform: translate(0px, -27px);
                            -moz-transform: translate(0px, -27px);
                            -ms-transform: translate(0px, -27px);
                            -o-transform: translate(0px, -27px);
                        }
                    }
                    span.show-detail {
                        right: 0;
                        float: right;
                        button{
                            right: -18px;
                            float: right;
                            position: absolute;
                            top: 10px;
                        }
                    }
                    img.net-img {
                        position: relative;
                        top: 100px;
                    }
                }
                .car-td {
                    position: relative;
                    border-bottom: 3px solid #bcbec0;
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        width: 9px;
                        height: 16px;
                        margin-top: -8px;
                        font: 16px fontawesome;
                        color: #bcbec0;
                        content: "\f0d7";
                        transition: all .3s ease;
                    }
                    p.active {
                        color: $main-color;
                    }
                }
                .active-car-td {
                    border-bottom: 3px solid $main-color;
                }
                td.empty-first-car {
                    border-top: 0px solid !important;
                }
                td.empty-first-car2 {
                    border-bottom: 0px solid !important;
                }
                td.first-col {
                    text-transform: uppercase;
                }
                td:last-child {
                    // border-right: 0px;
                }
                .toggle {
                    cursor: pointer;
                    width: 200px;
                    span {
                        color: $main-color;
                        font-family: UTM_HelveBold;
                    }
                }
                button {
                    color: #f36f21;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
            tr.data-detail:not(.header) {
                display: none;
            }
            tr.select-all:not(.header) {
                display: none;
            }
            tr.more:not(.header) {
                display: none;
            }
            tr.price-discount:not(.header) {
                display:table-row;
            }
            tr.network {
                // td:hover {
                //     .network-ctn {
                //         display: block;
                //     }
                // }
            }
            tr.price-discount {
                td {
                    background-color: #fff;
                    padding: 0;
                    vertical-align: middle;
                    text-align: center;
                    .btn-discount {
                        color: $main-color;
                        background-color: #fff;
                        width: 100%;
                        border-radius: 0;
                        font-family: UTM_Helve;
                        text-align: left;
                        &:hover {
                            background-color: #f36f21;
                            font-family: UTM_HelveBold;
                            color: #fff;
                        }
                    }
                }
                .active {
                    background-color: #f36f21;
                    a {
                        font-family: UTM_HelveBold;
                        color: #000;
                    }
                }
            }
        }
    }
    .sized {
        // display: block;
        // max-width: 100%;
        // max-height: 100%;
    }
    .img-container {
        // width: 100%;
        width: 200px;
        height: 130px;
        display: block;
        background: transparent;
        overflow: hidden;
        position: relative;
        top: 0;
        bottom: 0;
        margin: auto;
        img{
            transform: translateY(25%);
            -webkit-transform: translateY(25%);
            -moz-transform: translateY(25%);
            -ms-transform: translateY(25%);
            -o-transform: translateY(25%);
}
    }
    .remove {
        width: 26px;
        height: 26px;
        cursor: pointer;
        color: #58595b;
        text-align: center;
        border-radius: 22px;
        border: 1px solid;
        line-height: 26px;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
    }
}