.search-ctn {
    .search-section-health {
        display: flex;
        justify-content: space-around;
        button {
            width: 100%;
            background-color: #333333;
            // border: none;
            outline: none;
            color: #fff;
            margin-top: 3px;
        }
        button.btn1 {
            text-align: right;
            padding-right: 20px;
            border-right: 1px solid;
        }
        button.btn2 {
            text-align: left;
            padding-left: 20px;
        }
    }
}

.pack-section {
    border-bottom: 1px solid $main-color;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, .05);
    .pack-title {
        margin-top: 4%;
        h4 {
            text-transform: uppercase;
            color: $main-color;
            font-family: UTM_Helve;
        }
    }
    .section-wrapper, .section-wrapper2 {
        position: relative;
        
        max-width: 990px;
        height: 160px; // hide the scroll bar
        margin: auto;
        // border: 1px solid black;
        overflow-x: hidden;
        overflow-y: hidden;
        @media(max-width: 1440px) {
            max-width: 990px;
        }
        .section-list,.section-list2 {
            height: 240px; // hide the scroll bar
            // background: #f3f3f3;
            box-sizing: border-box;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            .item, .item2 {
                display: inline-block;
                text-align: center;
                width: 200px;
                white-space: normal;
                // height: 100%;
                // outline: 1px dotted gray;
                padding: 0 10px;
                box-sizing: border-box;
                input[type=checkbox] {
                    display: none;
                }
                input[type=checkbox]:checked+.toggle:after {
                    opacity: 1;
                }
                .thumb-t{
                    p.break-txt{
                        vertical-align: middle;
                        height: 50px;
                    }
                }
                .brand-thumb {
                    position: relative;
                    img {
                        width: 150px;
                        height: 75px;
                    }
                    img.ui-draggable {
                        z-index: 100000;
                    }
                }
                .toggle {
                    position: absolute;
                    // left: 0;
                    right: 10px;
                    // margin: auto;
                    display: block;
                    height: 35px;
                    width: 35px;
                    // top: 0px;
                    bottom: 0px;
                    // left: 0px;
                    text-indent: 100%;
                    overflow: visible;
                    cursor: pointer;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 12px;
                        left: 12px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $main-color;
                        opacity: 0;
                    }
                    &::before {
                        content: '';
                        width: 18px;
                        height: 18px;
                        background:#ccc;
                        border: 1px solid #ccc;
                        border-radius: 20px;
                        position: absolute;
                        top: 9px;
                        left: 9px;
                        -webkit-box-shadow: 0 1px 1px #dfecf4;
                        -moz-box-shadow: 0 1px 1px #dfecf4;
                        box-shadow: 0 1px 1px #dfecf4;
                    }
                }
            }
        }
    }
    .paddle, .paddle2 {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3em;
    }
    .paddles,.paddles2 {
        position: relative;
        button {
            border: none;
            background: transparent;
        }
    }
    .left-paddle, .left-paddle2 {
        left: 0%;
        transform: translate(30%, -85%);
        top: -30px;
        bottom: -60px;
        @media (max-width: 1440px) {
            left: 2%;
        }
    }
    .right-paddle,.right-paddle2 {
        right: 4%;
        transform: translate(30%, -85%);
        top: -30px;
        bottom: -60px;
        @media (max-width: 1440px) {
            right: 3%;
        }
    }
    .hidden {
        display: none;
    }
}
.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    // height: 950px;
    height: 80vh;
}
.table-section-sk {
    margin-bottom: 5%;
    margin-top: 2%;
    .table-ctn {}
    table {
        // table-layout: fixed;
        table-layout: auto;
        // width: 1170px;
        border-spacing: 2%;
    }
    #layout-area {
        .add-del-ctn {
            float: right;
            right: 0;
            display: flex;
            z-index: 35;
            input {
                background-color: green;
                padding: 5px 10px;
            }
        }
        .table {
            td {
                border: 1px solid #ccc;
            }
            .green1 {
                background-color: $main-color;
                color: #fff;
                height: 40px;
                font-family: UTM_Helve;
                text-transform: uppercase;
                td.green_header {
                    background: $main-color url(../images/default/bg-green.png) no-repeat !important;
                    background-size: contain;
                    background-position:center;
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    color: white !important;
                    padding: 8px 15px;
                }
            }
            td.green_header{
                // background-color: white;
            }
            .green {
                background-color: $main-color;
                color: #fff;
                font-family: UTM_Helve;
                text-transform: uppercase;
            }
            thead {
                .top-head {
                    position: sticky;
                    top: 0;
                    // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
                    // border-top: 1px solid #000;
                    height: 100px;
                    th {
                        border-top: 2px solid $main-color;
                        border-bottom: 1px solid $main-color;
                        border-right: 1px solid $main-color;
                        z-index: 8;
                    }
                    th:last-child {
                        // border-right: 0px;
                    }

                    th:first-child {
                        border-bottom: 0px;
                    }
                    th.th-1 {
                        background: #f5f5f5 url(../images/car/thead.png);
                        background-size: contain;
                        background-position: right;
                        background-repeat: no-repeat;
                        .left-ctn {
                            transform: translate(0px, -37px);
                            text-align: left;
                            display: inherit;
                            .item {
                                // margin-bottom: 15px;
                                display: block;
                                a {
                                    color: #fff;
                                    font-family: UTM_Helve;
                                    text-decoration: none;
                                    padding-left: 15px;
                                }
                            }
                            .phone {
                                background-image: url('../images/home/cta-phone.png');
                                background-repeat: no-repeat;
                                padding: 12px 30px;
                                background-position: top center;
                                // background-size: cover;
                                height: 50px;
                                width: 185px;
                                display: inline-flex;
                                a {
                                    padding-left: 18px;
                                }
                            }
                        }
                        h4 {
                            position: absolute;
                            transform: translate(-25%, 50%);
                            top: 61%;
                            left: 30%;
                            color: $main-color;
                            font-family: UTM_HelveBold_Italic;
                        }
                    }
                }
            }
            tbody {
                tr.sub-head-health {
                    td {
                        border-bottom: 1px solid $main-color;
                        border-right: 1px solid $main-color;
                    }
                    td:first-child {
                        // border-left: 0px;
                    }
                    td:last-child {
                        // border-right: 0px;
                    }
                    td.th-2 {
                        .star-ctn {
                            display: flex;
                            justify-content: space-around;
                            flex-direction: row;
                        }
                        .item {
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .star-ctn {
                        .item {
                            p {
                                span {
                                    bottom: 2px;
                                    position: relative;
                                    right: 0px;
                                }
                            }
                        }
                    }
                    .count-rank-ctn {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        .mark-num {
                            p {
                                span.first-span {
                                    color: #f36f21;
                                }
                            }
                        }
                        .service {}
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
                // tr.bg-head-1 {
                    
                //     background-repeat: no-repeat;
                //     color: white;
                //     td{
                //         background-image: url('../images/health/bg1.png');
                //     }
                // }
                // tr.bg-head-2 {
                //     background-image: url('../images/health/bg2.png');
                //     background-repeat: no-repeat;
                //     color: white;
                //     td{
                //         background-image: url('../images/health/bg2.png');
                //     }
                // }
                // tr.bg-head-3 {
                    
                //     background-repeat: no-repeat;
                //     color: white;
                //     td{
                //         background-image: url('../images/health/bg2.png');
                //     }
                // }
                // tr.bg-head-4 {
                //     background-image: url('../images/car/bg4.png');
                //     background-repeat: no-repeat;
                //     color: white;
                //     td{
                //         background-image: url('../images/car/bg4.png');
                //     }
                // }
                tr.header {
                    height: 40px;
                    position: relative;
                    font-weight: bold;
                    border-top: 1px solid #ccc;
                    font-size: 14px;
                    // color: #fff;
                    // background-color: $main-color;
                    // color: #000;
                    font-family: UTM_Helve;
                    background-color: #f2f2f3;
                    text-transform: uppercase;
                    cursor: pointer;
                    -webkit-user-select: none;
                    /* Chrome all / Safari all */
                    -moz-user-select: none;
                    /* Firefox all */
                    -ms-user-select: none;
                    /* IE 10+ */
                    user-select: none;
                    /* Likely future */
                    .choose-all {
                        position: absolute;
                    }
                    // &:nth-child(2n-1) {
                    //     background: $main-color;
                    //     color: #fff;
                    //     // border-right: 0px solid #ccc;
                    // }
                    &:nth-child(2n-1) {
                        // background: $main-color;
                    }
                    &:hover {
                        // background: #ddd;
                    }
                    td:nth-child(1) {
                        // width: 40%;
                        // border-right: 1px solid #ccc;
                    }
                    td {
                        position: relative;
                        &:after {
                            position: absolute;
                            top: 50%;
                            right: 5px;
                            width: 9px;
                            height: 16px;
                            margin-top: -8px;
                            font: 16px fontawesome;
                            color: #bcbec0;
                            content: "\f0d8";
                            transition: all .3s ease;
                        }
                    }
                    &.colapse-head {
                        background: $main-color;
                        // color: white;
                        td {
                            &:after {
                                transform: rotate(-180deg);
                                color: #000;
                            }
                        }
                    }
                }
            }
            tr.data-detail {
                td {
                    border-right: 1px solid #ccc;
                    text-align: center;
                    p {
                        // overflow: hidden;
                        // white-space: nowrap;
                        // width: 135px;
                    }
                    span {
                        a {
                            color: orange;
                            left: 46%;
                            right: 0;
                            position: relative;
                            margin: auto;
                            text-decoration: none;
                        }
                    }
                    // white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .tick-td {
                        text-align: center;
                        margin: 14px 0;
                        height: auto;
                    }
                    .star-td {
                        width: 20px;
                        right: 0;
                        float: right;
                        margin-top: 10px;
                    }
                    .mega-drop-down a:hover {
                        display: block;
                    }
                    input[type=checkbox] {
                        display: none;
                    }
                    .selectedId {
                        opacity: 0;
                        filter: alpha(opacity=0);
                    }
                    .selectedId+label {
                        position: relative;
                        margin-left: 35px;
                        display: inherit;
                    }
                    .selectedId+label:before,
                    .lt-ie8 .checkbox-replacement {
                        content: '';
                        display: inline-flex;
                        visibility: visible;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        margin: 0 5px;
                        line-height: 1;
                        text-align: center;
                        /* Put checkbox styles here: */
                        border: 1px solid #ccc;
                        border-radius: 100%;
                    }
                    .selectedId:checked+label:before,
                    .lt-ie9 .selectedId.checked+label:before {
                        content: '';
                        position: relative;
                        top: 0px;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: $main-color;
                        opacity: 1;
                    }
                    .selectedId:checked+label::after {
                        content: '';
                        width: 18px;
                        height: 18px;
                        background: rgba(0, 0, 0, 0);
                        border: 1px solid #ccc;
                        border-radius: 20px;
                        position: absolute;
                        top: 3px;
                        left: -2px;
                        margin: 0 5px;
                        -webkit-box-shadow: 0 1px 1px #dfecf4;
                        -moz-box-shadow: 0 1px 1px #dfecf4;
                        box-shadow: 0 1px 1px #dfecf4;
                    }
                    label.drop {
                        position: absolute;
                        left: 22px;
                        margin-top: 0px;
                        width: 32px;
                        font-size: 13px;
                    }
                    span.first-td {
                        position: relative;
                        display: inline-block;
                        transform: translate(32px, -27px);
                        width: 90%;
                        -webkit-transform: translate(32px, -27px);
                        -moz-transform: translate(32px, -27px);
                        -ms-transform: translate(32px, -27px);
                        -o-transform: translate(32px, -27px);
                    }
                    span.show-detail {
                        right: 0;
                        float: right;
                    }
                    img.net-img {
                        position: relative;
                        // top: 50px;
                    }
                }
                .hospital-td{
                    position: relative;
                    border-bottom: 3px solid #bcbec0;
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        width: 9px;
                        height: 16px;
                        margin-top: -8px;
                        font: 16px fontawesome;
                        color: #bcbec0;
                        content: "\f0d7";
                        transition: all .3s ease;
                    }
                    p.active{
                        color: $main-color;
                    }
                }
                .active-td{
                    border-bottom: 3px solid $main-color;
                   
                }
                td.first-select-cf{
                    border: none;
                    border-bottom: 1px solid $main-color;
                }
                td.health-select-cf{
                    overflow: visible;
                    border: 1px solid $main-color;
                }
                td.empty-first{
                    border-top: 0px solid !important;
                }
                td.empty-first2{
                    border-bottom: 0px solid !important;
                }
                td.first-col {
                    text-transform: uppercase;
                }
                td:last-child {
                    // border-right: 0px;
                }
                .toggle {
                    cursor: pointer;
                    width: 200px;
                    span {
                        color: $main-color;
                        font-family: UTM_HelveBold;
                    }
                }
                button {
                    color: #f36f21;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
            tr.data-detail:not(.header) {
                display: none;
            }
            tr.select-all:not(.header) {
                display: none;
            }
            tr.network {
                // td:hover {
                //     .network-ctn {
                //         display: block;
                //     }
                // }
            }
            tr.price-discount {
                td {
                    background-color: #fff;
                    padding: 0;
                    vertical-align: middle;
                    text-align: center;
                    .btn-discount {
                        color: $main-color;
                        background-color: #fff;
                        width: 100%;
                        border-radius: 0;
                        font-family: UTM_Helve;
                        text-align: left;
                        &:hover {
                            background-color: #f36f21;
                            font-family: UTM_HelveBold;
                            color: #000;
                        }
                    }
                }
                .active {
                    background-color: #f36f21;
                    a {
                        font-family: UTM_HelveBold;
                        color: #000;
                    }
                }
            }
        }
    }
    .sized {
        object-fit: cover;
        object-position: 50% 0px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
        -webkit-transform: translate(0px, 15px);
        transform: translate(0px, 15px);
        -moz-transform: translate(0px, 15px);
        -ms-transform: translate(0px, 15px);
        -o-transform: translate(0px, 40px);
}
    .img-container {
        // width: 100%;
        width: 200px;
        height: 130px;
        display: block;
        background: transparent;
        overflow: hidden;
        position: relative;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .remove {
        width: 26px;
        height: 26px;
        cursor: pointer;
        color: #58595b;
        text-align: center;
        border-radius: 22px;
        border: 1px solid;
        line-height: 26px;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
    }
}

.sk-section3 {
    margin: 5% 0;
    .sec3-wrapper {
        .swiper-sk {
            .swiper-slide {
                // margin-right: 15px !important;
                .item {
                    padding: 0 25px;
                    margin: 15% 0;
                    h4 {
                        font-family: UTM_Helve;
                        text-transform: uppercase;
                        font-size: 30px;
                        line-height: 40px;
                        color: $main-color;
                        @media screen and (max-width: 1024px) {
                            font-size: 23px;
                            line-height: 33px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                    .description-ctn{

                    }
                    .modal-popup-ctn{
                        margin: 15px 0;
                        p{
                            margin-bottom: 8px;
                            a{
                                color: #58595b;
                                text-decoration: none;
                            }
                        }
                    }
                    &:hover{
                        box-shadow: -4px 3px 50px 0px rgba(0, 0, 0, 0.5);
                        .description-ctn{
                            p{
                                color: $main-color;
                                font-family: UTM_HelveBold;
                            }
                        }
                    }
                }
                &:nth-child(2n) {
                    // border-left: 1px solid #000;
                    // border-right: 1px solid #000;
                }
                .center-item {
                    &::before {
                        border-left: 1px solid #000;
                        width: 2px;
                        height: auto;
                        background: transparent;
                    }
                    &:after {
                        border-right: 1px solid #000;
                        width: 2px;
                        height: auto;
                        background: transparent;
                    }
                }
            }
            .center-item {
                &::before {
                    border-left: 1px solid #000;
                    width: 2px;
                    height: auto;
                    background: transparent;
                }
                &:after {
                    border-right: 1px solid #000;
                    width: 2px;
                    height: auto;
                    background: transparent;
                }
            }
            .swiper-button-prev {
                transform: translate(-46%, 10px);
                top: 20%;
                bottom: 0;
                margin: auto;
                background-image: url('../images/home/arrow-left-active.png') !important;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .swiper-button-next {
                background-image: url('../images/home/arrow-right-active.png') !important;
                background-size: contain;
                background-repeat: no-repeat;
                transform: translate(48%, 10px);
                top: 20%;
                bottom: 0;
                margin: auto;
            }
        }
        .sec3-title{
            margin: 5% 0;
            h3{
                font-family: UTM_Helve;
                color: $main-color;
            }
        }
    }
    .description-ctn {
        height: 88px;
    }
}
// ================================network==============================
#hospital-tr {
    // display: none;
    position: relative;
    // transform: translate(18%, 36%);
    // bottom: 120px;
    z-index: 3;
    // width: 82%;
}

.network-ctn {
    // position: absolute;
    background-color: #fff;
    border: 1px solid #f36f21;
    h5 {
        color: $main-color;
        font-family: UTM_HelveBold;
        text-transform: uppercase;
    }
    .address-detail {
        h5 {
            cursor: pointer;
            text-align: left;
            span {
                img {
                    width: 15px;
                    margin-right: 10px;
                }
            }
            &:after {
                font-family: Fontawesome;
                content: '\f0d7';
                float: right;
            }
        }
        h5.collapsed {
            cursor: pointer;
            &::after {
                font-family: Fontawesome;
                content: '\f0d7';
                float: right;
            }
        }
    }
    .net-hospital-item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 3% 0;
        .address-ctn {
            width: 46%;
            margin-bottom: 2%;
            background-color: #e6e7e8;
            padding: 8px 20px;
            border: 1px solid #ccc4;
            border-radius: 20px;
            outline: none;
            select {
                width: 100%;
                border: none;
                border-right: solid 1px;
                outline: none;
                color: #6b6c6e;
                background-color: #e6e7e8;
            }
        }
        hr.line {
            border: 1px solid $main-color;
        }
        
    }
    .address-list {
        // width: 100%;
        ul {
            list-style: none;
            li.address-item {
                text-align: left;
                display: grid;
                grid-template-columns: 4% 32% 32% 32% ;
                justify-content: space-between;
                flex-direction: row;
                margin-bottom: 5px;
                border-bottom: 1px dashed #ccc;
                .no span {
                    color: $main-color;
                    padding-right: 20px;
                }
                .order{
                    color: $main-color;
                }
                .location{
                    span{
                        margin-right: 5px;
                    }
                }
            }
        }
        ul.hospi-item{
            overflow: auto;
            height: 100px;
        }
        .hospi-item::-webkit-scrollbar-track
        {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #c2c3c7;
        }
    
        .hospi-item::-webkit-scrollbar
        {
        width: 5px;
        background-color: #c2c3c7;
        }
    
        .hospi-item::-webkit-scrollbar-thumb
        {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $main-color;
        }
    }
}
.break-txt{
    word-break: break-all;
    color: $main-color;
    text-align: left;
}