.intro-detail-container {
    margin: 5% 0;
    .intro-ctn {
        .title {
            margin-bottom: 35px;
            h4 {
                text-transform: uppercase;
                font-family: UTM_Helve;
                color: $main-color;
            }
        }
        .top-intro {
            .content {
                margin-bottom: 40px;
                p {
                    font-family: UTM_Helve;
                    line-height: 26px;
                    color: #58595b;
                }
            }
        }
        .second-wrapper {
            position: relative;
            .second-ctn {
                background-color: #f1f2f2;
                width: 85%;
                padding: 50px 30px;
                @media screen and (max-width: 480px) {
                    width: 100%;
                    padding: 50px 15px;
                }
                .content {
                    width: 61%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    p {
                        font-family: UTM_Helve;
                        line-height: 26px;
                        color: #58595b;
                    }
                    a {
                        font-family: UTM_HelveBold;
                        line-height: 26px;
                        color: $main-color;
                        text-decoration: none;
                    }
                }
            }
            .img-intro {
                position: absolute;
                top: -7%;
                right: 0;
                @media screen and (max-width: 480px) {
                    position: relative;
                    top: 0;
                    right: 0;
                }
            }
        }
        .img-intro2 {
            margin-bottom: 6%;
        }
        .content-bottom {
            p {
                font-family: UTM_Helve;
                line-height: 26px;
                color: #58595b;
            }
            a {
                font-family: UTM_HelveBold;
                line-height: 26px;
                color: $main-color;
                text-decoration: none;
            }
        }
    }
}

.intro-container {
    margin: 5% 0;
    .intro-ctn {
        .left-ctn {}
        .right-ctn {
            // padding: 10% 0 10% 10%;
            .title {
                margin-bottom: 35px;
                @media screen and (max-width: 480px) {
                    margin-bottom: 8%;
                }
                h4 {
                    text-transform: uppercase;
                    font-family: UTM_Helve;
                    color: $main-color;
                    @media screen and (max-width: 480px) {
                        font-size: 18px;
                    }
                }
            }
            p {
                font-family: UTM_Helve;
                color: #58595b;
            }
            .watch-more {
                a {
                    font-family: UTM_Helve;
                    line-height: 26px;
                    color: #58595b;
                    text-decoration: none;
                }
            }
            &:hover {
                cursor: pointer;
                h4 {
                    font-family: UTM_HelveBold;
                }
                a {
                    font-family: UTM_HelveBold;
                    line-height: 26px;
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
    }
    .box-1,
    .box-3 {
        display: grid;
        grid-template-columns: 55% 45%;
        flex-direction: row;
        .right-ctn {
            padding: 0 0 10% 10%;
        }
    }
    .box-3 {
        .right-ctn {
            padding-top: 10%;
        }
    }
    .box-2,
    .box-4 {
        display: grid;
        grid-template-columns: 45% 55%;
        flex-direction: row;
        .right-ctn {
            padding: 10% 10% 10% 0;
        }
    }
}

// ======================contact page=======================
.contact-ctn {
    margin: 5% 0;
    .select-ctn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @media screen and (max-width: 480px) {
           display: grid;
           grid-template-columns: auto;

        }
        .selection-box {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            border: 1px solid;
            padding: 5px 22px;
            border-radius: 20px;
            background-color: #f1f2f2;
            // color: #bdbebf;
            font-family: UTM_Helve;
        }
        .button-filter {
            width: 26%;
            border: none;
            @media screen and (max-width: 480px) {
                width: 100%;
                text-align: center;
            }
        }
        .item {
            // width: 100%;
            select {
                width: 100%;
                font-size: 14px;
                border-bottom: none;
                border-left: none;
                border-top: none;
                outline: none;
                border-right: 1px solid #58595b;
                background-color: #f1f2f2;
                color: #58595b;
            }
        }
        span {
            margin-left: 20px;
            color: #58595b;
        }
        input {
            width: 60%;
            border-bottom: 1px solid #ccc;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            background-color: #f1f2f2;
        }
        button {
            background-color: $main-color;
            font-family: UTM_Helve;
            color: #fff;
            text-transform: uppercase;
            padding: 5px 15px;
            outline: none;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            float: right;
            width: 50%;
            @media screen and (max-width: 480px) {
                float: none;
                margin-top: 5%;
            }
        }
    }
    .name-list {
        margin: 5% 0;
        .name-item {
            @media screen and (max-width: 480px) {
                text-align: center;
            }
        }
        color: #58595b;
        text-transform: uppercase;
        font-family: UTM_HelveBold;
        font-size: 16px;
    }
    .active {
        color: $main-color;
    }
}

.sec-contact-detail {
    padding-top: 5%;
    border-top: 2px solid $main-color;
    .section-wrapper {
        margin: auto;
        width: 100%;
        margin-bottom: 5%;
        .title-ctn {
            margin: 3% 0;
            text-align: center;
            h4 {
                font-size: 1.75rem;
                color: $main-color;
                font-family: UTM_HelveBold;
            }
        }
        .detail-ctn {
            display: flex;
            justify-content: space-around;
            .ava-ctn {
                margin-right: 5%;
                img {
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
            .detail-contact {
                text-align: left;
                .name {
                    color: $main-color;
                    font-size: 24px;
                    font-family: UTM_HelveBold;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                p.job-title {
                    margin-bottom: 5px;
                }
                a {
                    color: #58595b;
                }
            }
        }
    }
}

.contact-map {
    border-top: 2px solid $main-color;
}

// ======================question page=======================
.question-container {
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #f3f3f3;
        font-family: UTM_HelveBold;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid #ccc !important;
        font-size: 20px;
        font-weight: bold;
    }
    .nav-tabs .nav-link {
        font-family: UTM_Helve;
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #eee;
        font-size: 20px;
    }
    .nav-tabs {
        background-color: $main-color;
    }
    .question-term-ctn {
        overflow-x: hidden;
        /* Tabs*/
        section {
            padding: 60px 0;
            .section-title {
                text-align: center;
                color: #007b5e;
                margin-bottom: 50px;
                text-transform: uppercase;
            }
        }
        #tabs {
            color: #58595b;
            h6.section-title {
                color: #eee;
            }
        }
        .question-ctn {
            .question-part {
                .panel-heading {
                    .panel-title {
                        width: 95%;
                        height: 50px;
                        // border-top: 2px solid $main-color;
                        border-radius: 3px;
                        display: table;
                        // padding: 0 30px;
                        -webkit-transition: all .4s linear;
                        transition: all .4s linear;
                        a {
                            display: table-cell;
                            vertical-align: middle;
                            text-decoration: none;
                            color: $main-color;
                            border-top: 1px solid;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 30px;
                            position: relative;
                            padding: 10px 0;
                            -webkit-transition: all .4s linear;
                            transition: all .4s linear;
                            &::after {
                                position: absolute;
                                content: "\f0d7";
                                font: 16px fontawesome;
                                color: #bcbec0;
                                width: 26px;
                                height: 26px;
                                background-image: none;
                                font-size: 1.083em;
                                font-weight: 500;
                                text-align: center;
                                top: 50%;
                                right: -30px;
                                float: right;
                                -webkit-transition: all .4s ease-in;
                                transition: all .4s ease-in;
                                line-height: 24px;
                                -webkit-transform: translateY(-50%) rotate(360deg);
                                transform: translateY(-50%) rotate(360deg);
                            }
                        }
                        .collapsed {
                            color: #58595b;
                            &::after {
                                position: absolute;
                                content: "\f0d8";
                                font: 16px fontawesome;
                                color: #bcbec0;
                                width: 26px;
                                height: 26px;
                                background-image: none;
                                font-size: 1.083em;
                                font-weight: 500;
                                text-align: center;
                                line-height: 24px;
                                top: 50%;
                                right: -30px;
                                float: right;
                                -webkit-transform: translateY(-50%) rotate(0deg);
                                transform: translateY(-50%) rotate(0deg);
                                -webkit-transition: all .4s ease-in;
                                transition: all .4s ease-in;
                            }
                            a {
                                color: #000;
                            }
                        }
                    }
                    .click {
                        a {
                            color: #000;
                        }
                    }
                }
                .panel-body {
                    margin: 3% 0;
                    font-family: UTM_Helve;
                    color: #58595b;
                }
            }
        }
        .term-ctn{
            .searchinput{
                position: relative;
                line-height: 100%;
                display: table;
                margin: 0;
                width: 100%;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                button{
                    font-family: UTM_Helve;
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
            
            .text{
                width: 60%;
                height: 35px;
                padding: 9px;
                color: $main-color;
                border: 1px solid $main-color;
                box-shadow: 1px 0px 3px $main-color;
                border-radius: 50px;
                font-size: 15px;
                text-transform: capitalize;
                outline: none;
            }
            
            ::-webkit-input-placeholder{
                   color: $main-color;
            }
            
            ::-moz-input-placeholder{
                color: $main-color;
            }
            
            ::-ms-input-placeholder{
                color: $main-color;
            }
            
            .text:focus{
                box-shadow: 1px 1px 8px $main-color;
            }
            
            .submit{
                padding: 10px;
                height: 40px;
                width: 80px;
                font-size: 13px;
                color: white;
                background: $main-color;
                border: none;
                margin: 10px;
                border-radius: 50px;
                box-shadow: 0px 0px 10px $main-color;
                outline: none;
            }
            
            .submit:active{
                box-shadow: 0px 0px 7px $main-color;
            }
            .alpha-ctn{
                .alpha-left{
                    .alpha-index{
                        display: grid;
                        grid-template-columns: 20% 75%;
                        border-bottom: 1px solid $main-color;
                        .alpha-left{
                            a{
                                text-transform: uppercase;
                                font-family: UTM_HelveBold;
                                color: #58595b;
                            }
                            a.disable{
                                // background-image: linear-gradient(to top, #d8dde0 1px, transparent 1px, transparent 100%);
                                color: #d8dde0;
                                pointer-events: none;
                                text-decoration: none;
                            }
                        }
                        .panel-heading {
                            .panel-title {
                                width: 100%;
                                height: 50px;
                                // border-top: 2px solid $main-color;
                                border-radius: 3px;
                                display: table;
                                // padding: 0 30px;
                                -webkit-transition: all .4s linear;
                                transition: all .4s linear;
                                a {
                                    display: table-cell;
                                    vertical-align: middle;
                                    text-decoration: none;
                                    color: $main-color;
                                    // border-top: 1px solid;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 30px;
                                    position: relative;
                                    padding: 10px 0;
                                    -webkit-transition: all .4s linear;
                                    transition: all .4s linear;
                                    &::after {
                                        position: absolute;
                                        content: "\f0d7";
                                        font: 16px fontawesome;
                                        color: #bcbec0;
                                        width: 26px;
                                        height: 26px;
                                        background-image: none;
                                        font-size: 1.083em;
                                        font-weight: 500;
                                        text-align: center;
                                        top: 50%;
                                        right: -30px;
                                        float: right;
                                        -webkit-transition: all .4s ease-in;
                                        transition: all .4s ease-in;
                                        line-height: 24px;
                                        -webkit-transform: translateY(-50%) rotate(360deg);
                                        transform: translateY(-50%) rotate(360deg);
                                    }
                                }
                                .collapsed {
                                    color: #58595b;
                                    &::after {
                                        position: absolute;
                                        content: "\f0d8";
                                        font: 16px fontawesome;
                                        color: #bcbec0;
                                        width: 26px;
                                        height: 26px;
                                        background-image: none;
                                        font-size: 1.083em;
                                        font-weight: 500;
                                        text-align: center;
                                        line-height: 24px;
                                        top: 50%;
                                        right: -30px;
                                        float: right;
                                        -webkit-transform: translateY(-50%) rotate(0deg);
                                        transform: translateY(-50%) rotate(0deg);
                                        -webkit-transition: all .4s ease-in;
                                        transition: all .4s ease-in;
                                    }
                                    a {
                                        color: #000;
                                    }
                                }
                            }
                            .click {
                                a {
                                    color: #000;
                                }
                            }
                        }
                        .panel-body {
                            margin: 3% 0;
                            font-family: UTM_Helve;
                            color: #58595b;
                        }
                    }
                }
            }
        }
        .knowledge-ctn{
            padding: 2%;
            .knowledge-wrapper{
                .item-knowledge{
                    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.28);
                    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.28);
                    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.28);
                    margin-bottom: 12%;
                    
                    img{
                        width: 100%;
                    }
                    .description-ctn{
                        padding: 10px;
                        a{
                            color: #000;
                            &:hover{
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }
    }
}